
@import "reset.css";
/*@import "canvas.css";*/

html,body {
  height: 100%;
  width: 100%;
}

html {
  background-color: #ddd;
  font-family: "Open Sans Condensed", sans-serif;
}

html, body, #view, #view * {
  overflow: hidden;
}

#fps {
  background-color: #000;
  
  font-family: monoOne, monospace;
  color: #fff;

  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}